* {
    margin: 0;
    padding: 0;
    text-align: center;
}

h1{
    background-color: #081b31;
    height: 5rem;
    line-height: 5rem;
    color: aliceblue;

}
img{
    height: 180px;
    width: 180px;
    object-fit: cover;
    border-radius: 50%;
}

.choice {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.choice:hover {
    cursor: pointer;
    background-color: #081b31;
}

.choices {
    display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin-top: 5rem;
}

.class-loader{
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 6px solid #ccc;
    border-top: 6px solid #333;
    margin-top: 2rem;
}

@keyframes spinAnimate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#you{
    background-color: green;
    border-radius: 5px;
}
#comp{
    background-color: red;
    border-radius: 5px;
}

.score-board {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    margin-top: 2rem;
    gap: 5rem;
}

#user-score, #comp-score {
    font-size: 4rem;
}
.msg-container {
    margin-top: 5rem;
}

#msg {
    background-color: #081b31 ;
    color: azure;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}

.reset-btn{
    
    display: inline-block;
    margin-top: 2rem;
}
#reset{
    width: 90px;
    height: 40px;
    background-color:#081b31;
    border-radius: 30px;
    color: azure;

}

@media (max-width:500px) {
    img{
        height: 100px;
        width: 100px;
    }
    .choice{
        height: 120px;
        width: 120px;
        margin: -1.5rem;
    }
    .msg-container{
        margin-top: 6rem;
    }
    #msg {
        font-size: 1.5rem;
        width: 10px;
    }
    .score-board{
        margin-top: 5rem;
        font-size: 1.5rem;
    }
    #user-score, #comp-score {
        font-size: 4rem;
    }
    .reset-btn{
        margin-top: 5rem;
    }
    .choice:hover {
        cursor: pointer;
        background-color: #081b31;
    }

}